#miniMRP {
  height: 600px;
  max-height:600px;
  overflow: hidden;
  background-color: #2a8bbe;
}
.mrpTitle {
  border-bottom: 4px solid #2a8bbe;
}
.mainImage {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-white {
  color:#fff;
}
.infoSec { 
  height: 600px;
  min-height: 600px;
  background: linear-gradient(rgba(18, 127, 188, .6), rgba(18, 127, 188, .6)), url(https://images.unsplash.com/photo-1554176259-aa961fc32671?ixlib=rb-1.2.1&auto=format&fit=crop&w=1305&q=80) no-repeat scroll center / cover;

}
.quad{
  background-color: #1c394f;
  height: 300px;
  overflow: hidden;
}
.quadOverlay { 
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0; 
 opacity: .95;
 z-index: 4;
 transition: opacity 1s;
 -webkit-transition: opacity 1s; /* Safari 3.1 to 6.0 */ 
}
.quadOverlay:hover{ 
 opacity: 0;
}
.cardRow { background-color: #1c394f; }

.quadOverlay > h3 { 
text-align: center;
top: 40%;
position: absolute;
left: 0;
right: 0;
}
.quad1 .quadOverlay {
  background: linear-gradient(rgba(18, 127, 188, .6), rgba(18, 127, 188, .6)), url(https://cdn.dlron.us/static/dealer-14457/mrpnav-1.jpg) no-repeat scroll center / cover;
}
.quad4 .quadOverlay {
  background: linear-gradient(rgba(18, 127, 188, .6), rgba(18, 127, 188, .6)), url(https://cdn.dlron.us/static/dealer-14457/mrpnav-4.jpg) no-repeat scroll center / cover;
}
.quad2 .quadOverlay {
  background: linear-gradient(rgba(0, 99, 155, 0.6), rgba(0, 99, 155, 0.6)), url(https://cdn.dlron.us/static/dealer-14457/mrpnav-2.jpg) no-repeat scroll center / cover;
}
.quad3 .quadOverlay {
  background: linear-gradient(rgba(0, 99, 155, 0.6), rgba(0, 99, 155, 0.6)), url(https://cdn.dlron.us/static/dealer-14457/mrpnav-3.jpg) no-repeat scroll center / cover;
}
.active{
  filter: blur(0px);
}



.inactive{
  overflow: hidden;
  transition: width 1s, height 1s, blur 1s;
  -webkit-transition: width 1s, height 1s, blur 1s; /* Safari 3.1 to 6.0 */ 
}

.active:hover{
   filter: blur(0px);
   height:500px;
   transition: width 1s, height 1s, blur 1s; 
   -webkit-transition: width 1s, height 1s, blur 1s; /* Safari 3.1 to 6.0 */ 
}

.activeDiv { 
  background-color: #2a8bbe;
  height:200px;
   transition:  height 1s;
   -webkit-transition: height 1s; /* Safari 3.1 to 6.0 */ 
}

.activeDiv .quad:hover { 
  height:500px;
}
.activeDiv .quad:not(:hover){
  height: 500px;
}
.inactiveDiv .quad:not(:hover){
  height: 100px!important;
  transition:  height 1s;
  -webkit-transition: height 1s; /* Safari 3.1 to 6.0 */ 
}